
nav.nav{
    padding: 15px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
nav.nav a{
    color: #000;
}
.navbar_right{
    display: flex;
    gap: 45px;
}
nav.nav ul li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
nav.nav ul li a{
    position: relative;
    padding: 13px 0;
    font-size: 18px;
}
nav.nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    height: 5px;
    border-radius: 50%;
    width: 5px;
    background: transparent;
    transition: .3s;
    transform: translateX(-50%);
}
nav.nav ul li a:hover::after{
    background: #000;
    width: 100%;
    border-radius: 0;
    height: 1px;
}